docs/2026-02-20/n8n/l45_day3_external_skill_workflow.json
{
  "name": "L4.5 Day-3 External Skill Governance Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/skillforge/external-skill/import",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger-external-skill-import",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "skillforge-external-skill-import",
      "notes": "接收外部 Skill 导入请求"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.external_skill_ref }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.repo_url }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.commit_sha }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.at_time }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-external-skill-input",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "校验必填字段：external_skill_ref, repo_url, commit_sha, at_time"
    },
    {
      "parameters": {
        "jsCode": "// 检查禁止字段（越权防护）\nconst input = $input.item.json;\nconst forbiddenFields = ['gate_decision', 'release_allowed', 'evidence_ref', 'permit_id', 'run_id', 'permit_token'];\nconst detected = forbiddenFields.filter(f => input.hasOwnProperty(f));\n\nif (detected.length > 0) {\n  return {\n    json: {\n      forbidden_detected: true,\n      forbidden_fields: detected,\n      error_code: 'N8N-FORBIDDEN-FIELD',\n      error_message: `Forbidden fields detected: ${detected.join(', ')}. n8n cannot inject these fields.`\n    }\n  };\n}\n\n// 检查 at_time 是否为漂移值\nconst driftValues = ['latest', 'now', 'current', 'today', 'yesterday', 'tomorrow', 'recent', 'newest'];\nif (driftValues.includes(input.at_time?.toLowerCase())) {\n  return {\n    json: {\n      forbidden_detected: true,\n      error_code: 'N8N-AT-TIME-FIXED-REQUIRED',\n      error_message: `at_time must be a fixed ISO-8601 timestamp. '${input.at_time}' is not allowed.`\n    }\n  };\n}\n\n// 检查 permit_refs\nif (!input.permit_refs || input.permit_refs.length === 0) {\n  return {\n    json: {\n      forbidden_detected: false,\n      permit_missing: true,\n      input: input\n    }\n  };\n}\n\nreturn {\n  json: {\n    forbidden_detected: false,\n    permit_missing: false,\n    input: input\n  }\n};"
      },
      "id": "check-forbidden-fields-external",
      "name": "Check Forbidden Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200],
      "notes": "检测越权字段 + at_time 漂移值 + permit 缺失"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.forbidden_detected }}",
              "value2": false
            }
          ]
        },
        "options": {}
      },
      "id": "route-forbidden-check-external",
      "name": "Route Forbidden Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200],
      "notes": "越权字段检测路由"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.permit_missing }}",
              "value2": false
            }
          ]
        },
        "options": {}
      },
      "id": "route-permit-check",
      "name": "Route Permit Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 100],
      "notes": "Permit 存在性检测路由（no-permit-no-import）"
    },
    {
      "parameters": {
        "url": "={{ $env.SKILLFORGE_API_BASE }}/api/v1/external-skill/boundary-check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"external_skill_ref\": \"{{ $(\"Check Forbidden Fields\").item.json.input.external_skill_ref }}\",\n  \"repo_url\": \"{{ $(\"Check Forbidden Fields\").item.json.input.repo_url }}\",\n  \"commit_sha\": \"{{ $(\"Check Forbidden Fields\").item.json.input.commit_sha }}\",\n  \"at_time\": \"{{ $(\"Check Forbidden Fields\").item.json.input.at_time }}\",\n  \"permit_refs\": {{ JSON.stringify($(\"Check Forbidden Fields\").item.json.input.permit_refs || []) }},\n  \"n8n_execution_id\": \"{{ $executionId }}\"\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "retryInterval": 5000
          }
        }
      },
      "id": "call-boundary-check",
      "name": "Call Boundary Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 50],
      "notes": "调用 SkillForge 边界检查（E001-E007）",
      "credentials": {
        "httpHeaderAuth": {
          "id": "skillforge-api-auth",
          "name": "SkillForge API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "route-boundary-result",
      "name": "Route Boundary Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 50],
      "notes": "边界检查结果路由"
    },
    {
      "parameters": {
        "url": "={{ $env.SKILLFORGE_API_BASE }}/api/v1/external-skill/quarantine",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $(\"Call Boundary Check\").item.json.run_id }}\",\n  \"external_skill_ref\": \"{{ $(\"Check Forbidden Fields\").item.json.input.external_skill_ref }}\",\n  \"repo_url\": \"{{ $(\"Check Forbidden Fields\").item.json.input.repo_url }}\",\n  \"commit_sha\": \"{{ $(\"Check Forbidden Fields\").item.json.input.commit_sha }}\",\n  \"at_time\": \"{{ $(\"Check Forbidden Fields\").item.json.input.at_time }}\",\n  \"n8n_execution_id\": \"{{ $executionId }}\"\n}",
        "options": {
          "timeout": 120000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "retryInterval": 5000
          }
        }
      },
      "id": "call-quarantine",
      "name": "Call Quarantine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 0],
      "notes": "调用隔离检查（E101-E103）",
      "credentials": {
        "httpHeaderAuth": {
          "id": "skillforge-api-auth",
          "name": "SkillForge API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "route-quarantine-result",
      "name": "Route Quarantine Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1850, 0],
      "notes": "隔离检查结果路由"
    },
    {
      "parameters": {
        "url": "={{ $env.SKILLFORGE_API_BASE }}/api/v1/external-skill/l1-l5-audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $(\"Call Boundary Check\").item.json.run_id }}\",\n  \"evidence_ref\": \"{{ $(\"Call Quarantine\").item.json.evidence_ref }}\",\n  \"n8n_execution_id\": \"{{ $executionId }}\"\n}",
        "options": {
          "timeout": 300000,
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "retryInterval": 5000
          }
        }
      },
      "id": "call-l1-l5-audit",
      "name": "Call L1-L5 Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, -50],
      "notes": "调用 L1-L5 五层审计（E104-E108）",
      "credentials": {
        "httpHeaderAuth": {
          "id": "skillforge-api-auth",
          "name": "SkillForge API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.gate_decision || $(\"Call Boundary Check\").item.json.gate_decision }}",
              "value2": "ALLOW",
              "operation": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "route-final-gate-decision-external",
      "name": "Route by gate_decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, -50],
      "notes": "仅消费 SkillForge 返回的 gate_decision"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_SUCCESS }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"SUCCESS\",\n  \"run_id\": \"{{ $(\"Call Boundary Check\").item.json.run_id }}\",\n  \"gate_decision\": \"{{ $(\"Call Boundary Check\").item.json.gate_decision }}\",\n  \"evidence_ref\": \"{{ $(\"Call L1-L5 Audit\").item.json.evidence_ref }}\",\n  \"release_allowed\": \"{{ $(\"Call L1-L5 Audit\").item.json.release_allowed }}\",\n  \"replay_pointer\": \"{{ $(\"Call L1-L5 Audit\").item.json.replay_pointer }}\",\n  \"external_skill_ref\": \"{{ $(\"Check Forbidden Fields\").item.json.input.external_skill_ref }}\",\n  \"registry_admission\": \"{{ $(\"Call L1-L5 Audit\").item.json.registry_admission }}\",\n  \"revision\": \"{{ $(\"Call L1-L5 Audit\").item.json.revision }}\",\n  \"n8n_execution_id\": \"{{ $executionId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "notify-success-external",
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, -150],
      "notes": "成功通知：外部 Skill 入主仓"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_FAILURE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"BLOCKED\",\n  \"run_id\": \"{{ $(\"Call Boundary Check\").item.json.run_id || 'N/A' }}\",\n  \"gate_decision\": \"{{ $(\"Call Boundary Check\").item.json.gate_decision || 'DENY' }}\",\n  \"error_code\": \"{{ $json.error_code || $(\"Call Boundary Check\").item.json.error_code || 'UNKNOWN' }}\",\n  \"blocked_by\": \"{{ $json.blocked_by || $(\"Call Boundary Check\").item.json.blocked_by || 'GATE' }}\",\n  \"message\": \"{{ $json.message || $(\"Call Boundary Check\").item.json.message || 'Import blocked' }}\",\n  \"required_changes\": {{ JSON.stringify($json.required_changes || $(\"Call Boundary Check\").item.json.required_changes || []) }},\n  \"evidence_ref\": \"{{ $(\"Call Boundary Check\").item.json.evidence_ref || 'N/A' }}\",\n  \"tombstone\": {{ JSON.stringify($json.tombstone || null) }},\n  \"auto_retry\": false,\n  \"note\": \"Business errors (E001-E108) must not auto-retry\",\n  \"n8n_execution_id\": \"{{ $executionId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "notify-failure-external",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 50],
      "notes": "失败通知：fail-closed，包含 required_changes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_ERROR }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"E001_PERMIT_REQUIRED\",\n  \"error_code\": \"E001\",\n  \"blocked_by\": \"PERMIT_REQUIRED\",\n  \"message\": \"Permit is required for external skill import\",\n  \"required_changes\": [{\"field\": \"permit_refs\", \"issue\": \"empty\", \"fix\": \"Obtain a valid import permit before retrying\"}],\n  \"external_skill_ref\": \"{{ $(\"Check Forbidden Fields\").item.json.input.external_skill_ref }}\",\n  \"auto_retry\": false,\n  \"n8n_execution_id\": \"{{ $executionId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "notify-permit-missing",
      "name": "Notify Permit Missing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200],
      "notes": "E001 无 Permit 阻断通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_ERROR }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"FORBIDDEN_FIELD_DETECTED\",\n  \"error_code\": \"{{ $(\"Check Forbidden Fields\").item.json.error_code }}\",\n  \"error_message\": \"{{ $(\"Check Forbidden Fields\").item.json.error_message }}\",\n  \"forbidden_fields\": {{ JSON.stringify($(\"Check Forbidden Fields\").item.json.forbidden_fields || []) }},\n  \"n8n_execution_id\": \"{{ $executionId }}\",\n  \"auto_retry\": false,\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "notify-forbidden-field-external",
      "name": "Notify Forbidden Field",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notes": "越权字段检测通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_ERROR }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"VALIDATION_ERROR\",\n  \"error_code\": \"E_VALIDATION\",\n  \"error_message\": \"Missing required fields: external_skill_ref, repo_url, commit_sha, or at_time\",\n  \"n8n_execution_id\": \"{{ $executionId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "notify-validation-error-external",
      "name": "Notify Validation Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 450],
      "notes": "输入验证失败通知"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Check Forbidden Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Forbidden Fields": {
      "main": [
        [
          {
            "node": "Route Forbidden Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Forbidden Check": {
      "main": [
        [
          {
            "node": "Route Permit Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Forbidden Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Permit Check": {
      "main": [
        [
          {
            "node": "Call Boundary Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Permit Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Boundary Check": {
      "main": [
        [
          {
            "node": "Route Boundary Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Boundary Result": {
      "main": [
        [
          {
            "node": "Call Quarantine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Quarantine": {
      "main": [
        [
          {
            "node": "Route Quarantine Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Quarantine Result": {
      "main": [
        [
          {
            "node": "Call L1-L5 Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call L1-L5 Audit": {
      "main": [
        [
          {
            "node": "Route by gate_decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by gate_decision": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "L4.5-Day3",
      "createdAt": "2026-02-20T00:00:00.000Z"
    },
    {
      "name": "external-skill-governance",
      "createdAt": "2026-02-20T00:00:00.000Z"
    },
    {
      "name": "governance",
      "createdAt": "2026-02-20T00:00:00.000Z"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "skillforge-l45-day3-external-skill"
  },
  "pinData": {},
  "versionId": "3.0.0",
  "createdAt": "2026-02-20T00:00:00.000Z",
  "updatedAt": "2026-02-20T00:00:00.000Z",
  "workflowMetadata": {
    "job_id": "L45-D3-EXT-SKILL-GOV-20260220-003",
    "skill_id": "l45_external_skill_governance_batch1",
    "wave": "Wave 1",
    "responsibilities": ["trigger", "route", "retry", "notify"],
    "forbidden_actions": [
      "generate_gate_decision",
      "direct_registry_write",
      "modify_tombstone_state",
      "skip_audit_chain",
      "delete_E001_E003_semantics"
    ],
    "allowed_input_fields": [
      "external_skill_ref",
      "repo_url",
      "commit_sha",
      "at_time",
      "permit_refs",
      "n8n_execution_id"
    ],
    "forbidden_input_fields": [
      "gate_decision",
      "release_allowed",
      "evidence_ref",
      "permit_id",
      "run_id",
      "permit_token"
    ],
    "retry_policy": {
      "allowed_errors": ["E_NETWORK", "E_TIMEOUT"],
      "forbidden_retry_errors": ["E001", "E003", "E004", "E007", "E101", "E102", "E103", "E104", "E105", "E106", "E107", "E108"]
    },
    "governance_rules": {
      "no_permit_no_import": true,
      "tombstone_default_invisible": true,
      "at_time_replay_enabled": true,
      "required_changes_executable": true
    }
  }
}
